#MongoDB
MONGODB_DB= 
MONGODB_PORT= 

# Minio
MINIO_HOST=
MINIO_REGION=
MINIO_PORT=
MINIO_CONSOLE_PORT=
MINIO_BROWSER_REDIRECT_URL=

# Dremio
DREMIO_PORT=
DREMIO_ODBC_JDBC_PORT=
DREMIO_SQL_PORT=
DREMIO_HEAP_MEMORY_SIZE= 
DREMIO_MAX_DIRECT_MEMORY_SIZE=

# Nessie
NESSIE_PORT=

TIME_ZONE=